/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-size: 100%;
  font-family: sans-serif , verdana;
  /*font-family: 'Open Sans', sans-serif; */
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

@media all and (min-width: 2500px) 
{
  body
  { 
    max-width: 90%; 
    margin: 0 auto;
  }
  .fixed-header
  {
    max-width: 90%;
  }

}

img
{
  max-width: 100%;
}

header,
footer,
section
{
  padding: 0px 1%;
  margin: 20px 0;
}

h1{font-size: 1.5em;} h2{font-size: 1.3em;} h3{font-size: 1.1em;} h4{font-size: .97em;}

/*@media all and (max-width: 768px) 
{
  
}

@media all and (min-width: 769px) 
{
  

}

@media all and (min-width: 990px) 
{
  

}

@media all and (min-width: 1200px) 
{
  
}*/

ul
{
  margin: 0;
  padding: 0 1%;
}

.title 
{
  margin: 40px 0;
}
.title h1
{
  color: #0f61af;
  letter-spacing: 1.2px;
  margin-bottom: 2px;
}
.title-hr
{
  width: 40px;
  height: 10px;
  background-color:#de4229;
}

/* ==========================================================================
      NAVIGATION
   ========================================================================== */

.fixed-header
{
  width: 100%;
  display: block;
  position: fixed;
  z-index: 1000;
  padding: 20px 0px;
  margin-top: 0;
  transition: all .55s;
  background-color: rgba(0,0,0,.8);
}

.hamburger
{
  color: #fff;
  text-align: right;
  margin-right: 10px;
  font-size: 2em;
  cursor: pointer;
  margin-bottom: 10px;
  display: none;
  float: right;
  line-height: 40px;
}

span.menu-icon
{
  width: 40px;
  display: block;
  border: 4px solid #fff;
  margin: 2px 0;

}

/*#menu-icon-first
{
  width: 40px;
}
#menu-icon-second
{
  width: 35px;
}
#menu-icon-third
{
  width: 30px;
}
*/
nav ul
{
  list-style: none;
  display: block;
  background-color: rgba(0,0,0,.8);
}

nav ul li
{
 /* padding: 10px;*/
  border: 1px solid #fff;
  cursor: pointer;
  transition: all .55s ease-out;
}

a:active,
a:visited,
a:link,
a:focus
{
  color: #999;
}

nav ul li a
{
  display: block;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1.3px;
}

nav ul li:hover
{
  background-color: #fff;
}
nav ul li a:hover
{
  color: #272b64;
}

.download-resume 
{
  background-color: #0f61af;
}
.download-resume:hover
{
  background-color: #272b64;
}

.download-resume a:hover
{
   color: #f5f5f5;
}

.download-resume span
{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #fff;
  padding:  10px;
  line-height: 7px;
  transition: all .55s .1s cubic-bezier(.21,-0.17,.58,1.06)
}

 .download-resume a
{
  color: #fff;
  text-decoration: none;
}

@media all and (max-width: 768px)
{
  .hamburger
  {
    display: block;
  }

  header 
  {
    height: 70px;
    transition: height .55s;

  }
  
  header nav
  {
    opacity: 0;
    transform: scale(.8) translateX(100%);
    transition: opacity .55s ease-out , transform .50s cubic-bezier(.21,-0.17,.58,1.06);
  }

  #hamburger:checked ~ header
  {
    height: 320px;
  }

  #hamburger:checked ~ header nav
  {
    opacity: 1;
    transform: scale(1) translateX(0);
  }

}

@media all and (min-width: 769px)
{
    nav ul li
  {
    float: left;
    margin: 0px 5px;
    font-size: .78em;
  }

   .download-resume
   {
      float: right;
   }

   .download-resume span
   {
    opacity: 0;
    transform: translateX(100%);
   }

  .download-resume:hover span
  {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media all and (min-width: 990px)
{
  nav ul li
  {
    font-size: .8125em;
  }
}

@media all and (min-width: 1200px)
{
  nav ul li
  {
    font-size: .875em;
  }
}

/* ==========================================================================
      Hero Area
   ========================================================================== */
.hero-area
{
  background: linear-gradient(rgba(0,0,0,.8) , rgba(0,0,0,.5) , transparent ),
              url("../img/hero-area-bg.jpeg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  margin-top: -35px;
  text-align: center;
  margin-bottom: 70px;
}
@media all and (max-width: 768px)
{
  .hero-area
  {
    height: 400px;
  }

  .my-picture
  {
    height: 200px;
    width: 200px;
  }
}

.my-picture
{
  background: url("../img/bola.jpg") no-repeat center 30%;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 10px solid #f5f5f5;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media all and (max-width: 768px)
{
  .my-picture
  {
    height: 200px;
    width: 200px;
  }
}

@keyframes slide-up
{
  0%{transform: translateY(100%); opacity: 0; transition: opacity  ease-out, transform ;}
  100%{transform: translateY(0%); opacity: 1;}
}

.name-and-title h1
{
  color: #fff;
  animation: slide-up .55s cubic-bezier(.21,-0.17,.58,1.06);
  padding-top: 150px;
  letter-spacing: 1.2px;
  text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.35);
}

.name-and-title h1 span
{
  display: block;
}

@media all and (max-width: 768px)
{
  .name-and-title h1
  {
    font-size: 2em;
  }
  .name-and-title h1 span
  {
    font-size: .68em;
  }
}
@media all and (min-width: 769px)
{
  .name-and-title h1
  {
    font-size: 2.5em;
  }
  .name-and-title h1 span
  {
    font-size: .68em;
  }
}
@media all and (min-width: 990px)
{

}
@media all and (min-width: 1200px)
{
  .name-and-title h1
  {
    font-size: 3em;
  }
  .name-and-title h1 span
  {
    font-size: .68em;
  }
}

/* ==========================================================================
     Personal-statement
   ========================================================================== */
.personal-statement
{
  background-color: #f5f5f5;
}

.personal-statement-content
{
  color: #777;
  padding: 20px 2%;
  background-color: #fff;
  font-size: .98em;
  border: 3px solid #777;
  border-color:#0f61af;
  border-radius: 30px 0 30px 0;
  line-height: 25px;
  margin: 10px 0px;
}

@media all and (min-width: 1200px)
{
  .personal-statement-content
  {
    width: 60%;
    margin: 0px 20% 40px 20%;
  }
}

/* ==========================================================================
     CV arear
   ========================================================================== */

 /* work Experience
   ======================= */
#resume .card ul
{
  list-style: inside;
}

#resume .card h2,h3,h4
{
  margin: 0;
  padding: 0;
  margin: 5px 0;
}

#resume .card h4
{
  margin-top: 15px;
}

#resume .card h3 span
{
  color: #666;
}

@media all and (min-width: 769px)
{
  #resume .card
  {
    min-height: 520px;
  }
}

/* Skills
======================= */
#skill-container
{
  background: 
              url("../img/skill-gb.jpeg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  text-align: left;
}

#skill-container h2
{
  margin: 0;
  padding: 0;
  padding: 10px 5px;
  color: #f5f5f5;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0, .7);
  font-size: 1.8em;
  font-weight: bolder;
}

.programming-skill
{
  width: 85%;
  margin: 0 auto;
  background-color: rgba(0,0,0, .7);
}

.skill-bg
{
  padding: 10px;
  color: #fff;
}

.skill-bg ul
{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-top: transparent;
  border-right: transparent;
}
.skill-bg ul li
{
  padding: 1px 0;
  background-color: #ddd;
  margin: 5px 0;
  color: #fff;
  display: block;
  width: 100%;
  font-weight: bold;
}

.skills
{
  padding: 5px 1px;
  display: inline-block;
}

.skill-php{ background-color: #3f8abf; width: 97%; padding-left: 30%;} 
.skill-html{ background-color: #39add1; width: 95%; padding-left: 25%;}
.skill-css{ background-color: #3079ab; width: 90%; padding-left: 20%;}
.skill-javascript{ background-color: #c25975; width: 85%; padding-left: 15%;}
.skill-jquery{ background-color: #d18f4f; width: 80%; padding-left: 10%;}
.skill-react{ background-color: #61dafb; width: 75%; padding-left: 5%;}

/* ==========================================================================
    Project Area
   ========================================================================== */

#project .card
{
 border: 1px solid #eee;
 position: relative;
 cursor: pointer;
 overflow: hidden;
 text-align: center;
}

#project .card img
{
  transition: transform .56s cubic-bezier(.36,-0.03,.63,1);
}

.photo-overlay a,
.photo-overlay h2,
.photo-overlay p
{
  padding: 10px;
}
.photo-overlay p, .photo-overlay h2{ text-align: left; }

#project .photo-overlay h2{ letter-spacing: 1.3px ; font-weight: bold; margin-bottom: 2px }

.photo-overlay a
{
  display: block; 
  text-align: center;
  background-color: #0f61af;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: box-shadow .40s ease-out;
}

.photo-overlay a:hover
{
  box-shadow: 1px 1px 10px rgba(0,0,0, .89);
}

@media all and (max-width: 768px) 
{
  .photo-overlay a,
  .photo-overlay h2,
  .photo-overlay p
  {
    padding: 5px;
  }
}

@media all and (min-width: 769px) 
{

  .photo-overlay h2
  {
    font-size: .98em;
    color: #fff;
  }
  .photo-overlay a
  {
    margin: 20px;
    color: #fff;
  }
  .photo-overlay
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .7);
    z-index: 100;
    display: block;
    color: #fff;
    opacity: 0;
    transform: scale(.5);
    transition: opacity .55s ease-out , transform .55s cubic-bezier(.36,-0.03,.63,1);
  }

  #project .card:hover img
  {
    transform: scale(1.1);
  }
  #project .card:hover .photo-overlay
  {
    opacity: 1;
    transform: scale(1);
  }

}

/* ==========================================================================
   Contact Area
   ========================================================================== */
#contact .card-container
{
  background: linear-gradient(rgba(0,0,0,.8) , rgba(0,0,0,.5)),
              url("../img/contact-bg1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: 0; padding: 0;
  padding: 10px 0;
}

#contact .card
{
  border: 2px solid #fff;
  border: none;
}

 #contact .card h2
{
  margin: 0;
  padding: 0;
  padding: 10px 0px;
  color: #f5f5f5;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0, .7);
  font-size: 1.8em;
  font-weight: bolder;
  text-align: center;
  border: 5px solid ;
  
}

#contact .call-me,
#contact .message-me 
{
   background-image: linear-gradient(rgba(0,0,0,.8) , transparent 80%); 
   color: #fff;
   font-size: 1.2em;
}

#contact .call-me > div,
#contact .message-me > #form-message div
{
  padding: 5px 1%;
  margin-top: 10px;
}

#contact .message-me p
{
  background-color: #de4229;
  font-size: .65em;
  text-align: center;
  font-style: italic;
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
  letter-spacing: 1.3px;
}

#message-container p.thank-you-msg
{
  background-color: #f5f5f5;
  color: #777;
  padding: 50px 10px;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  margin-top: 10px;
}

#contact .message-me .label span:first-child
{
  color: #0f61af;
  font-weight: bolder;
  font-size: .78em;
}

#contact p.invalid-email
{
  font-style: normal;
  background-color: #0f61af;
  letter-spacing: 1.2px;
  margin-top: 10px;
}

/* call-me
   ======================= */
#contact .call-me div
{
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #666;
}
#contact .call-me a,
#contact .call-me a[href="tel"]
{
  color: #666;
  text-decoration: none;
}

.icon:before
{
  height: 20px;
  width: 20px;
  border: 5px solid #0f61af;
  padding: 10px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  content: " ";
}

.icon-email:before
{
  background: 
              url("../img/svg/black-envelope.svg") no-repeat center;
  background-size: 20px 20px;
}
.icon-mobile:before
{
  background: 
              url("../img/svg/mobile.svg") no-repeat center;
  background-size: 20px 20px;
}
.icon-address:before
{
  background: 
              url("../img/svg/map-pin-marked.svg") no-repeat center;
  background-size: 20px 20px;
}

/* messsage-me
======================= */
.message-me form input,
.message-me form textarea
{
  width: 50%;
  border-radius: 5px;
  padding: 0px 1%;
  outline: none;
  border: 2px solid #ddd;
  background-color: rgba(0,0,0, .4);
  color: #f5f5f5;
  font-size: .76em;
}
.message-me form textarea
{
  height: 70px;
  padding-top: 5px;
}
.message-me form input[type="text"],
.message-me form input[type="email"]
{
  height: 30px;
}
.message-me form input[type="submit"]
{
  background-color: #0f61af;
  color: #fff;
  padding: 5px;
  margin-left: 28%;
  border: none;
}

.message-me form input[type="submit"]:hover
{
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0,0,0, .7)
}
.message-me form label
{
  display: block;
  width: 100%;
  letter-spacing: 1.1px;
}
.message-me .label
{
  display: inline-block;
  vertical-align: top;
  border-top: 3px solid #de4229;
  margin-right: 5px;
  text-align: center;
  background-color: #f5f5f5;
  color: #666;
}

@media all and (max-width: 768px) 
{
  #contact .card h2
  {
    font-size: 1.4em;
  }
  #contact .call-me,
  #contact .message-me 
  {
    margin-bottom: 10px;
  }
  #contact .message-me 
  {
     background-image: linear-gradient(rgba(0,0,0,.89) , transparent); 
     color: #fff;
     font-size: 1.2em;
  }

  .message-me form input,
  .message-me form textarea
  {
    width: 70%;
  }

  .message-me .label
  {
    width: 28%;
    font-size: .79em;
  }
}

@media all and (min-width: 769px)
{
  #contact .card-container
  {
    width: 104%;
    margin-left: -2%;
  }
  #contact .card
  {
    width: 43%;
  }

  .message-me .label
  {
    width: 28%;
  }
}


/******************************tooltip************************/

  .tooltip
  {
    position: relative;
    font-size: .65em;
  }
  .tooltip:focus
  {
    outline: none;
  }

  .tooltip::after,
  .tooltip::before
  {
    position: absolute;
    left: 50%;
    display: none;
    z-index: -1000;
  }
  .tooltip::before
  {
    content: "";
    border-style: solid;
    border-width: 1em .75em 0 .75em;
    border-color: #3e474f transparent transparent transparent;
    bottom: 100%;
    /*margin-left: -.5em;*/
  }

  .tooltip::after
  {
    content: attr(data);
    width: 10.5em;
    bottom: 140%;
    padding: 1em;
    background-color: #3e474f;
    border-radius: .25em;
    color: #edeff0;
    margin-left: -5.75em;
  }

  .tooltip:hover::after,
  .tooltip:focus::after,
  .tooltip:hover::before,
  .tooltip:focus::before
  {
    display: block;
    z-index: 100;
  }


/* ==========================================================================
   footer Area
   ========================================================================== */
footer
{
  background-color: rgba(0,0,0, .8);
  margin: 50px 0px 0;
  padding: 10px 1%;
  border-top: 5px solid #000;
  color: #fff;
}

#footer .download-resume
{
  padding: 10px;
  color: #f5f5f5;
  cursor: pointer;
  transition: all .55s ease-out;
  font-weight: bold;
  letter-spacing: 1.3px;
  margin-bottom: 10px;
}

.footer-icon
{
  height: auto;
  width: 40px;
  border: 2px solid #0f61af;
  padding: 5px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  transition: transform .55s ;
}

.copyright
{
  color: #777;
}

.copyright span
{
  padding: 5px;
}

.copyright span:last-child
{
  border-left: 2px solid #777;
  
}

@media all and (max-width: 768px)
{
   footer .download-resume
   {
      width: 90%;
      margin: 0 auto;
      text-align: center;
   }

   .copyright
    {
      text-align: center;
    }

    .footer-icon
    {
      width: 50px;
    }
    .social-media
    {
      margin: 10px 0;
    }
    .copyright-socail-container
    {
      text-align: center;
    }
}

@media all and (min-width: 769px)
{
  
  .copyright-socail-container
  {
    padding: 10px 0;
  }

  #footer .download-resume
   {
      float: none;
      display: none;
   }

   #footer .social-media
   {
      float: right;
      margin-top: -10px;
   }

   .footer-icon:hover
   {
      transform: rotate(360deg);
   }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * make content into  columes
 */

.card-container
{
  text-align: center;
}
.card
{
  margin: 0 1%;
  padding: 10px 1%;
  text-align: left;
  border-bottom: 2px solid #272b64;
  border-top: 2px solid #272b64;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;

}

@media all and (max-width: 768px)
{
  .card
  {
    margin-bottom: 10px;
  }
}

@media all and (min-width: 769px)
{
  .card
  {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }
}

@media all and (min-width: 990px)
{

}

@media all and (min-width: 1200px)
{
  .card
  {
    width: 29.3333333%;
  }
}



/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
